<style>
/* ICONOS REDES SOCIALES */

footer .social_icon {
    position: relative;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
	right: 7%;
}

footer .social_icon li, footer .menuw li{
    list-style: none;
}

footer .social_icon li a, footer .menuw li a {
    font-size: 2em;
    color: #6ec6ff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menuw li a {
    font-size: 1.2em;
    color: #6ec6ff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;

}

footer .menuw li a:hover {
    opacity: 0.4;
	color: #fff;
}
</style>
<div class="container">
	<div class="row row-pb-md">
		<div class="col footer-col colorlib-widget">
			<h4>Acerca de nosotros</h4>
			<p>30 Años de ser el queso de Querétaro</p>
			<p>
				<ul class="colorlib-social-icons">
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/QuesoLaQuinta"><i class="fab fa-facebook"></i></a></li>
					<li><a href="https://api.whatsapp.com/send?phone=+52 415 101 3211&text=Hola!%20Quieres%20contactarte%20con%20Quesos%20la%20Quinta?"><i class="fab fa-whatsapp"></i></a></li>
				</ul>
			</p>
		</div>
		<div class="col footer-col colorlib-widget">
			<h4>Información</h4>
			<p>
				<ul class="colorlib-footer-links">
					<li><a href="./docs/Aviso.pdf" target="_blank">Politica de privacidad</a></li>
					<li><a href="/nosotros">Nosotros</a></li>
				</ul>
			</p>
		</div>
		<div class="col footer-col">
			<h4></h4>
		</div>
		<div class="col footer-col colorlib-widget">
			<h4></h4>
		</div>
		<div class="col footer-col">
			<h4>Información de contacto</h4>
			<ul class="colorlib-footer-links">
				<li><a href="tel://442 479 7198">+52 442 479 7198</a></li>
				<li><a href="mailto:info@lacteoslaquinta.com.mx">info@lacteoslaquinta.com.mx</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="copy">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p>
				<span>
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Creada por Equipo 2</a></span> 
			</p>
		</div>
	</div>
</div>