<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>La Quinta</title>
<link rel="shortcut icon" href="./Images/logo.png" />

<link rel="preconnect" href="https://app.snipcart.com" />
<link rel="preconnect" href="https://cdn.snipcart.com" />
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css"/>

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet"/>

<!-- Animate.css -->
<link rel="stylesheet" href="./stylesheets/animate.css" />
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="./stylesheets/icomoon.css" />
<!-- Ion Icon Fonts-->
<link rel="stylesheet" href="./stylesheets/ionicons.min.css" />
<!-- Bootstrap  -->
<link rel="stylesheet" href="./stylesheets/bootstrap.min.css" />
<!-- Magnific Popup -->
<link rel="stylesheet" href="./stylesheets/magnific-popup.css" />
<!-- Flexslider  -->
<link rel="stylesheet" href="./stylesheets/flexslider.css" />
<!-- Owl Carousel -->
<link rel="stylesheet" href="./stylesheets/owl.carousel.min.css" />
<link rel="stylesheet" href="./stylesheets/owl.theme.default.min.css" />
<!-- Date Picker -->
<link rel="stylesheet" href="./stylesheets/bootstrap-datepicker.css" />
<!-- Theme style  -->
<link rel="stylesheet" href="./stylesheets/style.css" />
<!-- Theme style  -->
<link rel="stylesheet" href="./stylesheets/style2.css" />
<!-- color -->
<link id="changeable-colors" rel="stylesheet" href="./stylesheets/colors/strong-blue.css"/>
<!-- Responsive CSS -->
<link rel="stylesheet" href="./stylesheets/responsive.css" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>


