<div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-9">
          <div id="colorlib-logo"><a href="/">Quesos La Quinta</a></div>
        </div>
        
         </div>
      <div class="row">
        <div class="col-sm-12 text-left menu-1">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li class="has-dropdown">
              <a href="/Nosotros">Nosotros</a>
              <ul class="dropdown">
                <li><a href="/Nosotros">Historia</a></li>
                <li><a href="/Nosotros">Misi贸n/Visi贸n/Valores</a></li>
                <li><a href="/Nosotros">Galeria de imagenes</a></li>
                <li><a href="/Nosotros">Informaci贸n contacto</a></li>
              </ul>
            </li>
            <li><a class="snipcart-customer-signin">Mi Cuenta</a></li>
            <li><a href="/Recetas">Recetas</a></li>
            <li class="snipcart-checkout cart"><i class="fas fa-shopping-cart">
              </i>Carrito
              <span class="snipcart-items-count"></span>
              <span class="snipcart-total-price"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sale">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center">
          <div class="row">
            <div class="owl-carousel2">
              <div class="item">
                <div class="col">
                  <h3><a>10% de descuento usando el c贸digo LaQuinta</a></h3>
                </div>
              </div>
              <div class="item">
                <div class="col">
                  <h3><a>Calidad y frescura, quesos la quinta los mejores quesos</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>