<!-- ALL JS FILES -->
<script src="./javascripts/all.js"></script>

<!-- Modernizer -->
<script src="./javascripts/modernizer.js"></script>

<!-- ALL JS FILES -->
<script src="./javascripts/bootstrap.min.js"></script>

<!-- ALL PLUGINS -->
<script src="./javascripts/custom.js"></script>
<script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="MGFiYmUyZGYtYWIzOS00NjAyLThkNWItYTQ4ZGU5MGE3NzcxNjM3Njk4NDUwNDE1NTYwMzQ4"></div>

<!-- Código de instalación Cliengo para www.la quinta.com --> <script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/61a03e5c7bfac1002a6173dc/61a041c3daeb35002a1cf571.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>